.swiper-container {
    width: 100%;
    height: 50vh;
    margin-bottom: 10rem;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    svg{
        width: 20%;
        height: auto;
    }
    #camera2{
        width: 40%;
        height: auto;
    }
}